<div class="user_show container">

  <div class="user_item row">
    <div class="u_img">
      <img src=<%= @user.photo %> alt="User Image">
    </div>

    <div class="user_cont">
      <a href=<%= user_url(@user.id) %>>
        <div class="user_desc col">
          <h2 class="user_name"><%= @user.name %></h2>
          <p class="user_post_n">Number of posts: <%= @user.posts_count %></p>  
        </div>
      </a>
    </div> 
  </div>

  <div class="user_bio">
    <p class="show_title">Bio</p>
    <p class="bio_detail"><%= @user.bio %></p>
  </div>

  <ul class="post_list col">
    <% @recent_posts.each do |post| %>
      <a href=<%= user_post_url(user_id: @user.id, id: post.id) %>>

        <li class="post_item">
          <h4 class="post_title"><%= post.title %></h4>
          <p class="post_text"><%= post.text %></p>
          <p class="ikes">
            Comments: <%= post.comments_count %>,
            Likes: <%= post.likes_count %>
          </p>
        </li>

      </a>
    <% end %>
  </ul>
  <div class="btn_cont">
  <a href=<%= user_posts_url(user_id: @user.id) %>>
    <button class="btn">See all posts</button>
  </a>
</div>

</div>