<%= form_with model: @post, url: user_posts_path(@user.id) do |form| %>
    <div class="container col">
      <h2 class="new_post_header">Add new post</h2>
      <%= form.label :title, class: "form-label" do %>
        Title:
        <%= form.text_field :title, required: true, autofocus: true, class: "title-input", placeholder: 'Add your title here' %>
      <% end %>
      <%= form.label :text, class: "text-label" do %>
        Text:
        <%= form.text_area :text, required: true, autofocus: true, class: "text-input", placeholder: 'Add your text here' %>
      <% end %>
      <%= form.submit "Create", class: "create-button" %>
    </div>
  <% end %>
  